@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  @apply bg-secondary;
  font-size: 15px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  @apply h-32 bg-primary sm:bg-mobile-header lg:bg-desktop-header bg-no-repeat bg-cover;
}
